
#wrapper-panel {
    margin-top: 12px;
    background: snow;
}

.field-ciphers, #wrapper-panel textarea {
    height: 128px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#wrapper-panel textarea {
    resize: none;
}

.progress .progress-bar {
    text-align: left;
    transition-duration: 0ms;
    padding-left: 10px;
}

.field-ciphers .label {
    cursor: pointer;
}
